.myTextAlignCenter{
    text-align: center;
}

.myImageV1 {
    width: 400px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myImageV2 {
    width: 200px;
    padding: 10px;
    display: block;
    margin-right: auto;
    float: left;
}

.cursorPointer{
    cursor: pointer;
}

.myModalWidth{
    max-width: 70%;
}

.modal-header{
    background-color: #f6faff;
}

.modal-title{
    color:#485c82;
}

.navbar{
    background-color: #f6faff;
}

.nav-link{
    padding: 0;
}

.myFloatRight{
    float: right;
}

.myPostedBy{
    position: absolute;
    bottom: 10px;
    right: 10px;
}