.myTextAlignCenter{
    text-align: center;
}

.center {
    width: 400px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cursorPointer{
    cursor: pointer;
}

.myModalWidth{
    max-width: 70%;
}

.modal-header{
    background-color: #f6faff;
}

.modal-title{
    color:#485c82;
}

.navbar{
    background-color: #f6faff;
}

.nav-link{
    padding: 0rem;
}